body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container { 
  padding: 0 16px;
}

.help-text {
  font-size: 14px;
  margin: 10px 0;
}
.success {
  color: #017201;
}
.danger {
  color: #ff0000;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px
}

.btn{
  font-size:1.2em;
  padding:5px 10px;
  border-radius:7px;
  color:black;
  outline:none;
  border:1px solid black;

}

.btn:active{
  transform:scale(0.9);
}

.btn-primary{
  background-color:#4af14a;
}

.btn-secondary{
  background-color:#ff000d;
}