body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 0 16px;
}
.help-text {
  font-size: 14px;
  margin: 10px 0;
  display: block;
}
.success {
  color: #017201;
}
.danger {
  color: #ff0000;
}
.status {
  display: flex;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.dot-success {
  background-color: #017201;
}
.dot-danger {
  background-color: #ff0000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.row {
  display: flex;
}
input[type='text'] {
  width: 100%;
  font: 15px/24px 'Poppins', sans-serif;
  padding: 5px;
  box-sizing: border-box;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
}
.lisner-input{
  width: 97% !important;
}
.column {
  flex: 1;
}
.my-3 {
  margin: 15px 0px;
}
.my-2 {
  margin: 10px 0px;
}
.mr-2 {
  margin-right: 10px;
}
.ml-2 {
  margin-left: 10px;
}
.d-none {
  display: none;
}

.request-json-editor{
  max-height: 150px;
  overflow: auto;
}
.response-json-editor{
  max-height: 400px; 
  overflow: auto
}
.sidebar {
  height: 100%;
  background-color: pink;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}